.opportunity {
    width: 60%;
    &__in {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    &__image {
        width: 20%;
    }
    &__text {
        width: 70%;
    }
    &:nth-child(2n+2) &__in {
        flex-direction: row-reverse;
    }
    &:nth-child(2n+2) {
        align-self: flex-end;
    }
    &__number {
        font-size: 170px;
        font-family: 'Roboto';
        -webkit-text-stroke: 5px transparent;
        font-weight: bold;
        position: relative;
        bottom: 30px;
        background: linear-gradient(64deg, #{$mainColor} 17.9%, #0B5AA3 87.03%);
            -webkit-background-clip: text;
            color: #fff;
    }
    &__text h2{
        font-size: 30px;
        line-height: 39px;
        font-family: 'Roboto';
    }
    &__text p{
        font-size: 18px;
        line-height: 23px;
        color: #909090;
        font-family: 'Roboto';
    }
}

