.opportunutie {
    width: 60%;
    &__in {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    &__image {
        width: 20%;
    }
    &__text {
        width: 70%;
    }
    &:nth-child(2n+2) &__in {
        flex-direction: row-reverse;
    }
    &:nth-child(2n+2) {
        align-self: flex-end;
    }
    &__number {
        font-size: 100px;
    }
}
// .opportunitie__number{
//     font-size: 100px;
// }
