.services {
    padding: 0 339px 0 176px;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    &__in {
        display: grid;
        grid-template-columns: 833fr 544fr;
        grid-gap: 27px;
        align-items: center;
    }
    &__left {
        padding: 105px 61px 91px;
        background: #fff;
    }
    &__block {
        &:not(:last-child) {
            margin-bottom: 88px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 47px;
        line-height: 100%;
        color: $dark;
        margin-bottom: 37px;
        &--primary {
            color: $mainColor;
        }
    }
}