.services {
    // padding: 0 339px 0 176px;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    position: relative;
    @media all and (max-width: 1280px) {
        padding-top: 58px;
        padding-bottom: 58px;
    }
    @media all and (max-width: 860px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(64deg, #04C3A1 17.9%, #0B5AA3 87.03%);
        mix-blend-mode: overlay;
        opacity: 0.5;
        z-index: 1;
    }
    &__in {
        display: grid;
        grid-template-columns: 833fr 544fr;
        grid-gap: 27px;
        align-items: center;
        @media all and (max-width: 1280px) {
            grid-template-columns: 1fr;
        }
    }
    &__left,
    &__right {
        position: relative;
        z-index: 2;
    }
    &__left {
        padding: 101px 61px 99px 129px;
        margin-left: -129px;
        background: #fff;
        @media all and (max-width: 1280px) {
            margin-left: 0;
            padding: 50px 40px;
        }
        @media all and (max-width: 860px) {
            padding: 35px;
        }
    }
    &__block {
        &:not(:last-child) {
            margin-bottom: 88px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 47px;
        line-height: 100%;
        color: $dark;
        margin-bottom: 37px;
        @media all and (max-width: 1280px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
        @media all and (max-width: 860px) {
            font-size: 26px;
            font-weight: bold;
        }
        &--primary {
            color: $mainColor;
        }
    }
    &__right {
        background: #fff;
        padding: 105px 91px;
        @media all and (max-width: 1280px) {
            margin-left: 0;
            padding: 50px 40px;
        }
        @media all and (max-width: 860px) {
            padding: 35px;
        }
    }
    &__right_text {
        color: $dark;
        margin-bottom: 46px;
        p {
            margin-top: 0;
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}