.opportunities{
    padding-top: 105px;
    padding-bottom: 83px;
    &__wrap {
        max-width: 1567px;
        width: 100%;
        margin: 0 auto;
    }
    &__in {
        padding: 104px 123px;
        background-color: #fff;
        @media all and (max-width: 560px) {
            padding: 75px 40px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1308px;
        align-items: flex-start;
        margin: 0 auto;
    }
    &__title{
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        padding-bottom: 36px;
        @media all and (max-width: 560px){
            font-size: 36px;
        }
    }

}