.opportunities{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    &__title{
        font-size: 50px;
        font-weight: 400;
    }

}