.opportunities{
    padding-top: 105px;
    padding-bottom: 83px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    @media all and (max-width: 1280px) {
        padding: 0;
    }
    &__accessuar {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translateY(-50%) translateX(calc(-50% + 100px));
        font-size: 0;
        &--second {
            left: auto;
            right: 0;
            transform: translateY(calc(-50% + 280px)) translateX(calc(50% - 100px));
        }
        &--number {
            width: 478px;
            opacity: 0.4;
        }
        &--number_first {
            top: 130px;
            // animation: pulse 20s ease infinite;
            transform: scale(1) translateX(-50%);
            transform-origin: 100% -50%;
        }
        &--number_second {
            left: auto;
            top: auto;
            right: 0;
            bottom: 0;
            mix-blend-mode: exclusion;
            // animation: pulse2 18s ease infinite;
            transform: translateY(-40%) translateX(150%) rotate(180deg);
            transform-origin: 0% 100%;
        }
    }
    &__wrap {
        max-width: 1567px;
        width: 100%;
        margin: 0 auto;
    }
    &__in {
        padding: 104px 123px;
        background-color: #fff;
        @media all and (max-width: 1280px) {
            padding: 50px; 
        }
        @media all and (max-width: 860px) {
            padding: 50px 20px; 
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1308px;
        align-items: flex-start;
        margin: 0 auto;
    }
    &__title{
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        padding-bottom: 36px;
        @media all and (max-width: 560px){
            font-size: 36px;
        }
    }

}


@keyframes pulse {
    0% {
        transform: scale(1) translateX(-50%);
    }
    50% {
        transform: scale(0.6) translateX(-50%);
    }
    100% {
        transform: scale(1) translateX(-50%);
    }
}
@keyframes pulse2 {
    0% {
        transform: scale(1) rotate(180deg);
    }
    50% {
        transform: scale(0.6) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(180deg);
    }
}