.benefit {
    padding-left: 7px;
    position: relative;
    cursor: pointer;
    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 7px;
        height: 14px;
        background: #fff;
        left: 0;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &__bg {
        background: #fff;
        height: 100%;
    }
    &__in {
        background: #000;
        padding: 20px 20px 20px 50px;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 39px;
        font-family: 'Noto Sans';
        font-weight: 500;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #000;
        &:hover{
            background: linear-gradient(64deg, #{$mainColor} 17.9%, #0B5AA3 87.03%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $mainColor;
            box-shadow: 0px 2px 39px rgba(0, 0, 0, 0.05);
        }
    }
}