.benefit {
    padding-left: 7px;
    position: relative;
    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 7px;
        height: 14px;
        background: #fff;
        left: 0;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &__bg {
            background: #fff;
    }
    &__in {
        background: #000;
        padding: 20px 20px 20px 50px;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 39px;
        font-family: 'Noto Sans';
        font-weight: 500;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        &:hover{
            background: linear-gradient(64deg, #04C3A1 17.9%, #0B5AA3 87.03%);
        }
    }
}