.hero_banner {
    background: var(--backround);
    font-family: 'Roboto', sans-serif;
    &__in {
        padding-top: 206px;
        padding-bottom: 225px;
        min-height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media all and (max-width: 1280px) {
            padding-top: 150px;
            padding-bottom: 150px;
            min-height: auto;
        }
    }
    &__left {
        padding-right: 704px;
        @media all and (max-width: 1280px) {
            padding-right: 0;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 90px;
        line-height: 110%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #0B0B0B;
        margin-bottom: 52px;
        @media all and (max-width: 1280px) {
            font-size: 60px;
        }
        @media all and (max-width: 860px) {
            font-size: 40px;
        }
    }
    &__subtitle {
        margin: 0 0 52px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 98%;
        color: #0B0B0B;
        @media all and (max-width: 1280px) {
            font-size: 25px;
        }
        @media all and (max-width: 860px) {
            font-size: 20px;
        }
        &--big {
            font-weight: 700;
        }
        &--primary {
            color: $mainColor;
        }
        &--secondary {
            color: $secondaryColor;
        }
    }
}