.form{
    background: #04C4A1;
    &__item h2 {
        color: #fff;
        font-family: 'Roboto';
        font-size: 42px;
        font-weight: 500;
        width: 30%;
        margin: 0;
    }
    &__item {
        display: flex;
        max-width: 1300px;
        width: 100%;
        align-items: baseline;
        padding: 72px 0 34px;

    }
    &__block{
        display: inline-block;
        width: 70%;
    }
    &__inputs_top{
        display: flex;
        justify-content: space-between;
    }
    &__application {
        display: flex;
        color: #fff;
        margin-top: 23px;
        user-select: none;
        cursor: pointer;
        a {
            color: inherit;
        }
    }
    &__checkbox {
        display: none;
    }
    &__phantom_checkbox {
        width: 15px;
        height: 15px;
        background: #FFFFFD;
        border-radius: 2px;
        position: relative;
        margin-right: 10px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            right: 50%;
            bottom: 50%;
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMiAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS4wODY5Nkw0LjcwMzcgOUwxMSAxIiBzdHJva2U9IiMwNEM0QTEiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K") 50% 50% / cover no-repeat;
            transition: all .3s ease;
        }
    }
    &__checkbox:checked + &__phantom_checkbox:after {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }
}