.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        position: relative;
        padding-left: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 170%;
        color: $dark;
        @media all and (max-width: 1280px) {
            font-size: 18px;
        }
        @media all and (max-width: 860px) {
            font-size: 15px;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:after {
            content: "";
            position: absolute;
            position: absolute;
            left: 0;
            top: 10px;
            width: 11px;
            height: 11px;
            border: 1px solid #04C4A1;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }
}