.media {
    font-family: 'Roboto';
    padding: 93px 0 75px;
    @media all and (max-width: 1260px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        color: $dark;
        max-width: 632px;
        margin-bottom: 55px;
        @media all and (max-width: 1260px) {
            font-size: 40px;
        }
        @media all and (max-width: 860px) {
            font-size: 35px;
        }
        &--primary {
            color: $mainColor;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 100%;
        grid-gap: 23px;
        @media all and (max-width: 1260px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media all and (max-width: 860px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        height: 118px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #D9D9D9;
        padding: 10px;
        font-size: 0;
        box-sizing: border-box;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
        &--preview {
            background: #F5F5F5;
            
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 130%;
            color: $dark;
            @media all and (min-width: 1261px) {
                grid-column-start: 4;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            @media all and (max-width: 860px) {
                order: -1;
            }

        }
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    &__button {
        margin-top: 52px;
    }
} 